#make a generic generator
/gps/particle neutron 
/gps/position SOURCEPOSX SOURCEPOSY SOURCEPOSZ cm
/gps/pos/type Point
/gps/ang/type iso
/gps/ene/mono 0.024 MeV

#make a raytrace model
#/vis/rayTracer/eyePosition 1 1 1 m
#/vis/rayTracer/trace



#/CDMS/genericShield/setPosition 100.0 0.0 0.685355 cm
/CDMS/genericShield/setPosition SHIELDPOSX SHIELDPOSY SHIELDPOSZ cm
/CDMS/genericShield/setSize SHIELDW SHIELDL SHIELDT cm
/CDMS/genericShield/setMat SHIELDMAT 
/CDMS/detector/activate GPSShielding 
/CDMS/detector/deactivate Shields
/CDMS/updateGeometry

#run naming stuff
#/run/k100/uniqueID TIMEOFDAY # not implemented in the geant4 code
/run/k100/OFPrefix DISKLOCATION/DATADIR/GenericShield_RADSOURCE_THESETID_NEVHR_

/run/beamOn NEVENTS 
